ion-header {
    --background: primary;
  }
  
  ion-searchbar {
    --padding-start: 10px;
    --padding-end: 10px;
  }
  
  ion-item {
    --border-color: lightgray;
    --border-style: solid;
    --border-width: 0.5px;
    --background: white;
    margin-bottom: 10px;
  }
  